body {
  background-color: black;
  overflow-y: auto; 
  overflow-x: hidden;
  }

.dssh {
  position: relative;
  top: 8px;
  left: 10px;
  width: 60px;
  height: 46px;
  z-index: 3;
  margin: 0;
  }

.dsshbg {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
  height: 60px;
  padding: 0 0px;
  z-index: 2;
  }

.rain {
  position: relative;
  top: 250px;
  left: 0px;
  z-index: 1;
  font-size: 50px;
  text-align: center;
  }

.square {
  width: 120px;          
  height: 120px;         
  object-fit: cover;    
  border-radius: 0px;
  z-index: 1;
}

.slide-in {
  position: relative;
  display: inline-block;
  z-index: 1;
  animation: slideIn 1s ease-out forwards;
  }

@keyframes slideIn {
  from {
    transform: translateX(100%); /* 從螢幕右側外面開始 */
    opacity: 0;                  /* 一開始透明 */
  }
  to {
    transform: translateX(0);    /* 移回原位 */
    opacity: 1;                  /* 完全顯示 */
  }
}
